asgiref==3.5.2
attrs==22.2.0
Django==4.1.4
django-crispy-forms==1.14.0
django-model-utils==4.3.1
flake8==6.0.0
flake8-bugbear==22.12.6
flake8-builtins==2.1.0
flake8-commas==2.1.0
flake8-import-order==0.18.2
flake8-variables-names==0.0.5
mccabe==0.7.0
pep8-naming==0.13.3
Pillow==9.3.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytz==2022.6
sqlparse==0.4.3
tzdata==2022.7

